{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ride Forum</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/disp_temp.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Indian Institute of Technology, Kanpur</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
            {% if user and not user.is_anonymous %}
                    <li>
                        <a href="/insert/">Add Your Ride</a>
                    </li>
                    <li>
                        <a href="/query">Find A Ride</a>
                    </li>
                    <li>
                        <a href="/review">Review</a>
                    </li>
                    <li>
                        <a href="/profile">Your Rides</a>
                    </li>
            {% else %}
                    <li>
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" >Add Your Ride</a>
                    </li>
                    <li>
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" >Find A Ride</a>
                    </li>
                    <li>
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" >Review</a>
                    </li>
            {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Ride Forum</h1>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ ridedetails.ridedate }} at {{ ridedetails.ridetime }}</p>

                <hr>

                <!-- Preview Image -->
                <!-- <img class="img-responsive" src="{% static 'img/iitk.jpg' %}" alt=""> -->

                <hr>

                <!-- Post Content -->
                <!-- <p class="lead"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p> -->
                <table class="table-fill">
<thead>
    <tr>
        <th class="text-center">Ride Owner</th>
        <th class="text-center">Source</th>
        <th class="text-center">Destination</th>
        <th class="text-center">Date</th>
        <th class="text-center">Time</th>
        <th class="text-center">Preference</th>
    </tr>
</thead>
<tbody class="table-hover">
        <tr>
            <td class="text-center">{{ridedetails.name}}</td>
            <td class="text-center">{{ridedetails.source}}</td>
            <td class="text-center">{{ridedetails.destination}}</td>
            <td class="text-center">{{ridedetails.ridedate}}</td>
            <td class="text-center">{{ridedetails.ridetime}}</td>
            <td class="text-center">{{ridedetails.preference}}</td>
        </tr>
</tbody>
</table>


<!--             {% if answer|length > 0 %}
                <table class="tabular"><tr><td>Name</td><td>Comment</td></tr>
                {% for ans in answer %}
                    <tr><td> {{ ans.name }}</td><td>{{ans.comment}}</td></tr>
                {% endfor %}
                </table>
            {% else %}
                <p> NO COMMENTS YET </p>
            {% endif %}

            <form action="/addComment/" method="post">
            {% csrf_token %}
            <fieldset >
                <input type="hidden" name="id" value= {{ id }} >
                <input type="text" name="comment" placeholder="Add your comment here..." ><br>
                <input type="submit" name="add" value="Add Comment">
            </fieldset>
            </form> -->

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form" action="/addComment/" method="post">
                        {% csrf_token %}
                        <fieldset >
                        <input type="hidden" name="id" value= {{ id }} >
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->
                {% if answer|length > 0 %}
                    {% for ans in answer %}
                        <!-- Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ans.name}}
                                    <small> {{ ans.commentTime }}</small>
                                </h4>
                                {{ans.comment}}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p> NO COMMENTS </p>
                {% endif %}

 

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->

                <div class="well">
                    <img class="img-responsive" src="{% static 'img/tempo.jpg' %}" alt="">
                </div>
                <!-- Blog Categories Well -->

                <div class="well">
                    
                <img class="img-responsive" src="{% static 'img/iitk.jpg' %}" alt="">
            </div>

        </div>
        <!-- /.row -->

        <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/insert">Add Your Ride</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/query">Find a Ride</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/review">Review</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; ShareCab 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
